html, body { height: 50%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.example-card {
    max-width: 400px;
  }
  .example-header-image {
    
    background-size: cover;
  }
.card_details{
    color:black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
 }
 .card_details h1{
     color: blueviolet;
     font-weight: 600;
 }

.images:hover{
    background-color: blueviolet;
}
.para:hover{
    background: yellow;
}
#btn{
    background: aquamarine;
    margin-left: 50px;
    margin-bottom: 100px;
    border-radius: 5%;
    font-size: 25px;
}